nav {

    background-color:black !important;
    opacity: 90%;
    
}

h1 , p {
    color:white;
    text-align: center;
    background-color: black;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    width: 300x;
    border-color: black;
    border-width: 10px;
    border-style: solid;
}


.brand-logo  {
color:grey !important; 
font-size: 30px;
 margin-left: 10px !important; 
 font-weight: bold;
}

.container1 {
    color: white;
    background-color: black;
    border-color: grey;
    border-width: 5px;
    border-style: solid;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;    
}

.container2 {
    margin-right: 460px;
    margin-left: 460px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
<<<<<<< HEAD
=======

    
>>>>>>> 1aad34ddc54e70489c973c1498c23500f173b63f

}
